{% extends 'shared/base.html' %}
{% block content %}
{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Eletro Musical</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
</head>
<body>
    {% include 'partials/_errors.html' %}
    <main class="auth-page">
        <div class="auth-box">
            <h2 class="auth-title">Login</h2>
            <p class="auth-description">Por favor, insira seus detalhes de login para entrar.</p>
            <form action="{% url 'account_login' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="id_login">Email:</label>
                    <input type="email" id="id_login" name="login" placeholder="info@example.com" required>
                </div>
                <div class="input-group">
                    <label for="id_password">Senha:</label>
                    <div class="password-input-container">
                        <input type="password" id="id_password" name="password" placeholder="••••••••" required>
                        <i class="fas fa-eye password-toggle"></i>
                    </div>
                    <a href="{% url 'account_reset_password' %}" class="forgot-password">Esqueceu a senha?</a>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="keep-me-logged-in" name="remember">
                    <label for="keep-me-logged-in">Manter-me logado</label>
                </div>
                <button type="submit" class="btn auth-btn">Log in</button>
            </form>

            <div class="divider">ou continue com</div>
            <div class="social-auth-buttons">
                <a href="{% provider_login_url 'google' %}" class="social-auth-btn google"><i class="fab fa-google"></i></a>
                <a href="{% provider_login_url 'facebook' %}" class="social-auth-btn facebook"><i class="fab fa-facebook"></i></a>
            </div>
            <div class="auth-link">
                Não tem uma conta? <a href="{% url 'account_signup' %}">Cadastre-se</a>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Eletro Musical. Todos os direitos reservados.</p>
    </footer>
</body>
{% endblock %}

            
            
