{% extends 'shared/base.html' %}
{% block content %}
{% load socialaccount %}
{% load static %}
<body>
    {% include 'partials/_errors.html' %}
    <main class="auth-page">
        <div class="auth-box">
            <h2 class="auth-title">Login</h2>
            <p class="auth-description">Por favor, insira seus detalhes de login para entrar.</p>
            <form action="{% url 'account_login' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="id_login">Email:</label>
                    <input type="email" id="id_login" name="login" placeholder="info@example.com" required>
                </div>
                <div class="input-group">
                    <label for="id_password">Senha:</label>
                    <div class="password-input-container">
                        <input type="password" id="id_password" name="password" placeholder="••••••••" required>
                        <button type="button" class="fas fa-eye password-toggle" onclick='TogglePassword("id_password", this)'></button>
                    </div>
                    <script>
                        function TogglePassword(inputId, toggleButton) {
                            const input = document.getElementById(inputId);
                            if (input.type === "password") {
                                input.type = "text";
                            } else {
                                input.type = "password";
                            }
                        }
                    </script>
                    <a href="{% url 'account_reset_password' %}" class="forgot-password">Esqueceu a senha?</a>
                </div>
                <div class="checkbox-group">
                    <input type="checkbox" id="keep-me-logged-in" name="remember">
                    <label for="keep-me-logged-in">Manter-me logado</label>
                </div>
                <button type="submit" class="btn auth-btn">Entrar</button>
            </form>

            <div class="divider">ou continue com</div>
            <div class="social-auth-buttons">
                <a href="{% provider_login_url 'google' %}" class="social-auth-btn google"><i class="fab fa-google"></i></a>
                <a href="{% provider_login_url 'facebook' %}" class="social-auth-btn facebook"><i class="fab fa-facebook"></i></a>
            </div>
            <div class="auth-link">
                Não tem uma conta? <a href="{% url 'account_signup' %}">Cadastre-se</a>
            </div>
        </div>
    </main>
</body>
{% endblock %}

            
            
