{% extends 'shared/base.html' %}
{% block content %}
{% load static %}
<body>

  <div class="sub-header">
                <ul class="categoria-lista">
                    <li class="category-item">
                        <a href="{% url 'catalogo' 'Cordas' %}">
                            <img src="{% static 'assets/icons/cordas.png' %}">
                            <span>Cordas</span>
                        </a>
                    <li class="category-item">
                        <a href="{% url 'catalogo' 'Percussão' %}">
                            <img src="{% static 'assets/icons/percussao.png' %}">
                            <span>Percussão</span>
                        </a>
                    </li>
                    <li class="category-item">
                        <a href="{% url 'catalogo' 'Teclas' %}">
                            <img src="{% static 'assets/icons/teclas.png' %}">
                            <span>Teclas</span>
                        </a>
                    </li>
                    <li class="category-item">
                        <a href="{% url 'catalogo' 'Acessórios'%}">
                            <img src="{% static 'assets/icons/acessorios.png' %}">
                            <span>Acessórios</span>
                        </a>
                    </li>
                    <li class="category-item">
                        <a href="{% url 'catalogo' 'Áudio'%}">
                            <img src="{% static 'assets/icons/audio.png' %}">
                            <span>Áudio</span>
                        </a>
                    </li>
                </ul>
        </div>

  <main class="catalog-wrapper">
    <div class="catalog-breadcrumb">
      <a href="{% url 'landing' %}" class="breadcrumb-link breadcrumb-bold">Página Inicial</a> /
      <a href="{% url 'catalogo' categoria_nome  %}" class="breadcrumb-link">{{ categoria_nome|title }}</a> <!-- Para usar um método python dentro do template basta colocar o |função -->
    </div>
    <aside class="catalog-sidebar">
      <form method="get" id="filtroForm">
      <h2>Marcas</h2>
      {% for marca in marcas %}
        <div class="catalog-filter">
          <input 
          type="checkbox"
          id="marca{{ forloop.counter }}"
          name="marcas_lista_checkboxs"
          value="{{ marca.0 }}"
          {% if marca.0 in marcas_selecionadas %}checked{% endif %}
          >
          <label for="marca{{ forloop.counter }}"> {{ marca.0 }} ({{ marca.1 }})</label>
        </div>
      {% endfor %}
      <h2>Categorias</h2>
      {% for subcategoria in subcategorias %}
        <div class="catalog-filter">
          <input 
          type="checkbox" 
          id="subcategoria{{ forloop.counter }}"
          name="subcategorias_lista_checkboxs"
          value="{{ subcategoria.0 }}"
          {% if subcategoria.0|stringformat:'s' in subcategorias_selecionadas %}checked{% endif %}
          >
          <!-- precisa converter em str para conseguir se enquadrar em subcategorias_selecionadas, que é em str -->
          <label for="subcategoria{{ forloop.counter }}">{{ subcategoria.1 }} ({{ subcategoria.2 }})</label>
        </div>
      {% endfor %}
      {% if request.GET.buscar %}
        <input type="hidden" name="buscar" value="{{ request.GET.buscar }}">
      {% endif %}
      {% if request.GET.sort %}
        <input type="hidden" name="sort" value="{{ request.GET.sort }}">
      {% endif %}

      <div style="margin-top: 20px; text-align: center;">
        <button class="btn add-to-cart-btn" style="width: 100%; font-size: 1.1em;">
          Filtrar
        </button>
        </form>
      </div>
    </aside>

    <section class="catalog-content">
      <div class="catalog-topbar">
        <h1>{{ categoria_nome|title }}</h1>
        <div>
          <form method="get" id="sortForm">
            {% if request.GET.buscar %}
              <input type="hidden" name="buscar" value="{{ request.GET.buscar }}">
            {% endif %}
            {% for marca in marcas_selecionadas %}
              <input type="hidden" name="marcas_lista_checkboxs" value="{{ marca }}">
            {% endfor %}
            <label for="sort">Ordenar por:</label>
            <select name="sort" id="sort" onchange="document.getElementById('sortForm').submit();">
              <option value="nome" {% if request.GET.sort == "nome" %}selected{% endif %} >Nome A-Z</option>
              <option value="menor_preco" {% if request.GET.sort == "menor_preco" %}selected{% endif %}>Menor Preço</option>
              <option value="maior_preco" {% if request.GET.sort == "maior_preco" %}selected{% endif %}>Maior Preço</option>
              <option value="lancamento" {% if request.GET.sort == "lancamento" %}selected{% endif %}>Lançamento</option>
              <option value="desconto" {% if request.GET.sort == "desconto" %}selected{% endif %}>Melhores descontos</option>
            </select>
          </form>
        </div>
      </div>

      <div class="catalog-grid">
        <!-- LINHAS DE PRODUTO (15) -->
        <!-- Exemplo de um produto abaixo (repetido 15x) -->
        {% if produtos %}
          {% for produto in produtos %}
          <div class="catalog-card">
            <!-- o problema estava por que o nome não era imagemproduto_setall, mas ficou salvo em models como imagens -->
            {% if produto.imagens.exists %}
              {% for imagem in produto.imagens.all %}
                {% if imagem.destaque %}
                  <img src="{{ imagem.imagem.url }}" alt="{{ produto.nome }}">
                {% endif %}
              {% endfor %}
            {% endif %}
            <div class="catalog-info">
              <h3>{{ produto.nome }}</h3>
              <p class="catalog-old-price">R${{ produto.preco_original }}</p>
              <p class="catalog-price">R${{ produto.preco }}</p>
              <button class="catalog-btn">Comprar</button>
            </div>
          </div>
          {% endfor %}
        {% endif %}
      </div>
    </section>
  </div>
  </main>
</body>
{% endblock %}
