{% load static %}
  <p>&copy; 2025 Eletro Musical. Todos os direitos reservados.</p>
  <div class="footer-contact">
    Av. Prof. Fonseca Rodrigues, 40 - Alto de Pinheiros  | (11) 999999999 | contato@exemplo.com
  </div>
  <div class="footer-social">
    <a href="https://www.instagram.com/cristiano/" target="_blank"><img src="{% static 'assets/icons/instagram.png' %}" alt="Instagram" style="height:20px;"></a>
    <a href="https://www.facebook.com/Cristiano/" target="_blank"><img src="{% static 'assets/icons/facebook.png' %}" alt="Facebook" style="height:20px;"></a>
    <a href="https://wa.me/5511999999999" target="_blank"><img src="{% static 'assets/icons/whatsapp.png' %}" alt="WhatsApp" style="height:20px;"></a>
  </div>
  <div class="footer-links">
    <a href="#">Política de Privacidade</a> |
    <a href="#">Termos de Uso</a> |
    <a href="#">Sobre Nós</a> |
    <a href="#">Perguntas Frequentes</a>
  </div>